@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-blue: #003ea4;
  --color-blue-dark: #003ea4;
  --color-background: #ebf0f5;
  --color-yellow: #ffd337;

  --breakpoint-xs: 400px;
}

body {
  font-family: Sora, sans-serif;
}
